In [30]:
from pyvis.network import Network
import networkx as nx
import pandas as pd

In [31]:
#import facebook_combined.txt which has the directed edges
data = pd.read_csv("facebook_combined.txt", sep = " ", header = None)
data.columns = ["Person1", "Person2"]

#visualize only 1500 samples from the dataset
sample = data.sample(1500, random_state = 1)

In [32]:
sample.head(10)

       Person1  Person2
74346     2839     3064
62630     2309     2590
199          0      200
51398     2088     2468
27375     1319     1568
37813     1741     1809
83696     3460     3761
17028     1029     1613
82498     3332     3355
2472       107     1699

In [42]:
# make the network using network class
net = Network(
    notebook = True,
    cdn_resources = "remote", 
    bgcolor = "#FFFDF2",
    font_color = "black",
    height = "750px",
    width = "100%"
)
#define the nodes and edges using the sample of the dataset
#set makes sure the elements are unique
nodes = list(set([*sample.Person1, *sample.Person2]))
edges = sample.values.tolist()

net.add_nodes(nodes)
net.add_edges(edges)

net.show("graph.html")

graph.html